/* Глобальные стили приложения */
.appContainer {
  min-width: 1000px;
  }
  
  .customLinkListContainer {
    display: block;
    
  }
  
  /* Уникальные стили для элементов */
  .telegramLink {
    color: #0088cc;
  }
  
  .vkLink {
    color: #4c75a3;
  }
  