@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Geologica', sans-serif;
  background-color: rgba(208, 198, 167, 0.3);
}


.header {
  display: flex; /* Горизонтальное расположение элементов */
  justify-content: space-between; /* Логотип слева, навигация справа */
  align-items: center; /* Выравнивание по центру вертикали */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.homePage {
  background-color: rgba(255, 255, 255, 0.1); /* Темный фон только для главной страницы */
}

.logo-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

.logo-bar img{
  width: 80px; 
  height: 35px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
}

.nav-bar img {
  width: 50px; 
  height: 35px;
 
  border-radius: 50%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-bar img:hover {
  transform: scale(1.05); /* Лёгкое увеличение иконки при наведении */
  box-shadow: 0 2px 4px rgba(26, 12, 120, 0.205); /* Тень при наведении */
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #0D74BD;
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  top: -5px; /* Расположение полоски под текстом */
  left: -25%;
  width: 150%;
  height: 3px; /* Толщина полоски */
  background-color: #0D74BD; /* Синий цвет полоски */
}

.nav-bar .nav-link:hover {
  color: gray; /* Цвет при наведении */
}

.nav-bar .nav-link:last-child {
  margin-right: 0; /* Убираем отступ у последнего элемента */
}

.profile-icon {
  width: 45px; /* Длина контейнера */
  height: 35px; /* Высота контейнера */
  display: flex;
  justify-content: center;
  
  border-radius: 50px; /* Скруглённые углы */
  overflow: hidden; /* Убираем лишнее изображение за границей */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-icon img {
  width: auto; /* Автоматическая ширина */
  height: 100%; /* Полностью вписать в высоту контейнера */
  object-fit: contain; /* Сохранение пропорций изображения */
}

.profile-icon:hover {
  transform: scale(1.04); /* Небольшое увеличение при наведении */
  box-shadow: 0 2px 4px rgba(26, 12, 120, 0.205); /* Лёгкая тень */
}


.page-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  scroll-snap-type: y mandatory; /* Принудительное прилипание */
  overflow-y: scroll; /* Включаем скроллинг */
  scroll-behavior: smooth; /* Плавная прокрутка */
  transition: scroll-behavior 1.2s ease-in-out;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 5%;
  background: linear-gradient(to right, #E9E7E1 50%, transparent 70%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-content {
  transition: all 1.5s ease;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  max-width: 40%;
  color: black;
}

.hero-content h1 {
  font-style: bold;
  font-weight: 400;
  line-height: 100px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-content p {
  font-size: 18px;
  transition: all 1.5s ease;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0; /* Сдвигаем изображение вправо */
  height: 100vh; /* Высота на весь экран */
  width: auto; /* Сохраняем пропорции */
  max-width: 100%; /* Ограничиваем ширину */
  z-index: 1;
}

.hero-image img {
  height: 100vh;
  width: auto;
  object-fit: cover;
  object-position: center center; /* Смещаем изображение к правому краю */

  mask-image: 
    radial-gradient(ellipse 100% 80% at 30% 50%, rgb(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%),
    radial-gradient(ellipse 80% 80% at 65% 40%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%);
  mask-composite: intersect; 
  -webkit-mask-image: 
    radial-gradient(ellipse 100% 80% at 30% 50%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%),
    radial-gradient(ellipse 80% 80% at 65% 40%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%);
  -webkit-mask-composite: intersect; 

}


.big-text {
  font-size: 120px;
  transition: all 1.5s ease;
  display: block;
}

.small-text {
  font-size: 60px;
  transition: all 1.5s ease;
  display: block;
}

.bottom-left-text {
  position: absolute;
  left: -100px; /* Отступ слева */
  top: 350px;
  color: #665F5F;
  font-size: 25px;
  max-width: 400px;
  text-align: justify
}

.bottom-left-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px; /* Полоска */
  background-color: #665F5F;
  margin-bottom: 10px;
}


.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down span {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.scroll-down span::before,
.scroll-down span::after {
  content: "";
  position: absolute;
  width: 17px; /* Длина каждой линии */
  height: 3px; /* Толщина линии */
  background-color: white;
}

.scroll-down span::before {
  transform: rotate(35deg); /* Угол левой линии */
  left: 2px; /* Сдвиг влево */
  top: 8px; /* Сдвиг вниз */
  transform-origin: left;
}

.scroll-down span::after {
  transform: rotate(-35deg); /* Угол правой линии */
  right: 2px; /* Сдвиг вправо */
  top: 8px; /* Сдвиг вниз */
  transform-origin: right;
}

/* Анимация */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.scroll-down {
  animation: bounce 1.5s infinite;
}



@media (max-width: 1700px) {
  .big-text {
    font-size: 90px;
    transition: all 1.5s ease;
    line-height: 0.5;
    margin-top: 3.5rem;
  }

  .small-text {
    font-size: 45px;
    transition: all 1.5s ease;
    
  }

  .bottom-left-text {
    left: -50px;
    top: 300px;
    font-size: 20px;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 1520px) {
  .big-text {
    font-size: 60px;
    transition: all 1.5s ease;
    line-height: 0.5;
    margin-top: 20.5rem;
  }

  .small-text {
    font-size: 30px;
    transition: all 1.5s ease;
    
  }

  .bottom-left-text {
    left: -50px;
    top: 500px;
   
    max-width: 300px;
    font-size: 20px;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  
  .page-container {
    height: 100dvh;
  }
  
  .section-container {
    width: 100%;
    height: 100dvh;
  }
  
  .section {
    height: 100dvh;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    height: 100dvh;
    padding: 10px;
  }

  .hero-content {
    position: static;
    max-width: 100%;
    text-align: center;
    height: auto;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .big-text {
    font-size: 3rem;
    margin-top: 50%;
    margin-right: 5rem;
    display: block;
  }

  .small-text {
    font-size: 1.5rem;
    line-height: 2.0;
    margin-right: 5rem;
    display: block;
  }

  .bottom-left-text {
    position: absolute;
    left: 10%; /* Отступ слева */
    top: 80%;
    color: #665F5F;
    max-width: 20rem;
    text-align: justify
  }

  .hero-image img {
    width: 130%; /* Увеличиваем изображение, чтобы можно было обрезать */
    height: 100dvh;
    object-position: center; /* Центрируем изображение */
  
    mask-image: 
      radial-gradient(ellipse 100% 80% at 30% 50%, rgb(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%),
      radial-gradient(ellipse 80% 50% at 65% 40%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%);
    mask-composite: intersect; /* или add */
    -webkit-mask-image: 
      radial-gradient(ellipse 100% 80% at 30% 50%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%),
      radial-gradient(ellipse 80% 50% at 65% 40%, rgba(208, 198, 167, 1) 50%, rgba(208, 198, 167, 0) 80%);
    -webkit-mask-composite: intersect; /* или add */
  
  }
}


.team {
  position: relative;
  overflow: hidden;
}

.team .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 254, 250, 0.1), rgba(255, 255, 255, 1), rgba(255, 254, 250, 0.1));
  pointer-events: none;
  z-index: -1;
}

.about {
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgba(255, 254, 250, 0.9) 30%, transparent 50%);

}

.about-content {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.about-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.about-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  text-align: justify;
}

.about-list p {
  text-align: left; 
  margin: 0;
}

.about-stats {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #0D74BD;
  border-radius: 4px;
  background-color: white; /* Белый фон */
  margin-right: 15px;
  flex-shrink: 0;
}

.stat-box {
  border: 2px solid #0D74BD; /* Синяя обводка */
  border-radius: 30px;
  padding: 10px;
  background-color: white; /* Белый фон */
  text-align: center; /* Выравнивание текста и заголовков по центру */
  flex: 1;
  max-width: 180px;
}

.stat-box h3 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 1px;
  color: #0D74BD; /* Синий цвет заголовков */
  line-height: 1;
}

.stat-box p {
  font-size: 25px;
  margin-bottom: 1px;
  color: #0D74BD; /* Синий цвет текста */
  text-align: center; /* Выравнивание текста в плашках по центру */
}



@media (max-width: 768px) {
  .about-content {
    padding: 20px;
    max-width: 100%; /* Растягиваем на всю ширину */
  }

  .about-title {
    font-size: 15px; /* Уменьшаем размер заголовка */
    margin-bottom: 15px;
    text-align: center; /* Центрируем текст заголовка */
  }

  .about-list {
    margin-bottom: 20px; /* Уменьшаем отступ */
  }

  .about-list li {
    flex-direction: flex; /* Располагаем элементы в столбик */
    align-items: flex-start; /* Выравниваем текст слева */
    margin-bottom: 15px; /* Уменьшаем отступ между пунктами */
    font-size: 0.8rem;
  }

  .about-stats {
    gap: 15px; /* Уменьшаем промежутки между элементами */
    justify-content: space-around; /* Центрируем содержимое */
    align-items: center; /* Выравниваем элементы по центру */

  }

  .checkbox {
    width: 15px; /* Уменьшаем размер чекбокса */
    height: 15px;
    margin-right: 10px;
  }

  .stat-box {
    width: 100%; /* Увеличиваем ширину карточек */
    max-width: 100px; /* Ограничиваем максимальную ширину */
    padding: 15px;
  }

  .stat-box h3 {
    font-size: 25px; /* Уменьшаем размер текста */
  }

  .stat-box p {
    font-size: 12px; /* Уменьшаем размер текста описания */
  }
}