@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');

.attraction-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3vw;
    font-weight: 400;
    line-height: 3.1vw;
    margin-left: 15.7%;
    margin-right: 18.7%;
    text-align: center;
    white-space: pre-wrap;
}

.white {
    background-color: white;
    width: 100%;
    padding: 5.5% 8.4% 7.8%;
}

.preview-text {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.7vw;
    line-height: 2.1vw;
    font-weight: 500;
    margin: 0;
    width: 100%;
}

.page-style {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 5.5% 8.4% 7.8%;
    font-family: Geologica, sans-serif;

    @media (max-width: 768px) {
        padding-top: 5%;
        padding-bottom: 6.4%;
    }
}


.main-image {
    border: none;
    border-radius: 27.5px !important;
    margin-left: 5vw;
    margin-top: 50px;
    margin-bottom: 1.8vw;
    display: block;
    object-fit: cover;
    width: 56.25vw;
    height: 489px;

    @media (max-width: 768px) {
        margin-left: 1.3vw;
        margin-right: 1.3vw;
        margin-bottom: 2.6vw;
        max-width: 97%;
    }
}

.loading-or-error {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    color: #0C6DB3;
    font-size: 1.7vw;
    font-weight: 500;
}