.heart-button {
    cursor: pointer;
    background: transparent;
    border: 0.1vw solid #0B83D9;
    border-radius: 0.9vw;
    width: 40vw;
    height: 7.8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2vw;
    line-height: 1.6vw;
    @media (max-width: 450px) {
        width: 36vw;
    }
}

.heart-button-image {
    margin-left: 1.6vw;
    margin-right: 1.1vw;
    width: 3.5vw;
    height: 3.6vw;
}

.heart-button-image.pup:hover {
    transform: scale(1.1);
    fill: #0B83D9;
}