.time-period-section-header{
  display: inline-block;
  border: 0.16vw solid #0C6DB3;
  padding: 0.9% 1.9% 0.9% 1.9%;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.9vw;
  line-height: 2.3vw;
  margin-top: 4.4%;
  margin-bottom: 5%;
  margin-left: 14%;
}

.time-period-section-paragraph{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
  white-space: pre-wrap;
  font-size: 1.7vw;
  line-height: 2.1vw;
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.time-period-section-image {
  border-radius: 1.6vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.2%;
  display: block;
  object-fit: contain;
  max-width: 72.4vw;
  max-height: 72.4vw;
}