.header {
    display: flex; /* Горизонтальное расположение элементов */
    justify-content: space-between; /* Логотип слева, навигация справа */
    align-items: center; /* Выравнивание по центру вертикали */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    
    padding: 5px 20px;
    z-index: 10000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .homePage {
    background-color: rgba(255, 255, 255, 0.1); /* Темный фон только для главной страницы */
  }

  .logoBar {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-left: -20px;
  }
  
  .logoBar img{
    width: 80px; 
    height: 35px;
  }
  
  .navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
  }
  
  .navBar img {
    width: 50px; 
    height: 35px;
   
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navBar img:hover {
    transform: scale(1.05); /* Лёгкое увеличение иконки при наведении */
    box-shadow: 0 2px 4px rgba(26, 12, 120, 0.205); /* Тень при наведении */
  }
  
  .navLink {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: color 0.3s ease;
  }
  
  .navLink.active {
    color: #0D74BD;
    position: relative;
  }
  
  .active::after {
    content: "";
    position: absolute;
    top: -3px; /* Расположение полоски под текстом */
    left: -15%;
    width: 130%;
    height: 3px; /* Толщина полоски */
    background-color: #0D74BD; /* Синий цвет полоски */
  }
  
  .navBar .navLink:hover {
    color: gray; /* Цвет при наведении */
  }
  
  .navBar .navLink:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
  }
  
  .profileIcon {
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    
    border-radius: 50px;
    margin-top: 3px;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profileIcon img {
    width: auto; /* Автоматическая ширина */
    height: 100%; /* Полностью вписать в высоту контейнера */
    object-fit: contain; /* Сохранение пропорций изображения */
  }
  
  .profileIcon:hover {
    transform: scale(1.04); /* Небольшое увеличение при наведении */
    box-shadow: 0 2px 4px rgba(26, 12, 120, 0.205); /* Лёгкая тень */
  }