.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px; 
  gap: 10px;
}

.imageContainer {
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.image {
  width: 200px; /* Установи нужную ширину */
  height: 130px; /* Установи нужную высоту */
  object-fit: cover;
  border-radius: 10px;
}

.button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
